<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>apiFactory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70B7B07E1C24830900EBF451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B7B0921C24830A00EBF451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B7B09D1C24830A00EBF451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
